@use "color" as c;

.logo__panel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0rem 21rem;
  margin-top: 1rem;
  &Registration {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p1 {
      font-size: 0.9rem;
      padding: 1rem;
      &:hover {
        color: c.$secondary-color;
      }
    }

    a {
      color: black;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: c.$secondary-color;
      }
    }
  }
}
